apiVersion: v2
name: prometheus-operator-crd
description: kube-prometheus-stack CustomResourceDefinitions.
home: https://github.com/giantswarm/prometheus-operator-crd
icon: https://s.giantswarm.io/app-icons/prometheus-operator/2/light.svg
engine: gotpl
type: application
sources:
  - https://github.com/prometheus-community/helm-charts
  - https://github.com/prometheus-operator/kube-prometheus
appVersion: 0.52.1
version: 23.2.0
kubeVersion: ">=1.16.0-0"
annotations:
  application.giantswarm.io/team: atlas
  config.giantswarm.io/version: 1.x.x
restrictions:
  clusterSingleton: true
